
@{
    ViewBag.Title = "About Me";
}

<!-- About area starts -->
<section id="about" class="about-area section">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2>ABOUT ME</h2>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all of the templates and themes.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- About Image -->
            <div class="col-md-6">
                <div class="me-image">
                    <img src="assets/img/about/about.jpg" alt="">
                </div>
            </div>

            <!-- About Text -->
            <div class="col-md-6">
                <div class="about-text">
                    <h4>Aman Ullah</h4>
                    <p>Coderspoint has everything you need to get your new website up and running in no time! All of the templates and themes on Coderspoint w3c valid error free code and easy to use. Coderspoint has everything you need to get your new website up and running in no time! All of the templates and themes on Coderspoint w3c valid error free code and easy to use. Coderspoint has everything you need to get your new website up and running in no time! Coderspoint w3c valid error free code and easy to use. All of the templates and themes on Coderspoint w3c valid error free code and easy to use.</p>

                    <a class="btn dark smooth_scroll" href="#contact">Hire Me Now</a>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- About area ends -->
