@using System.Web.Optimization

<!-- Footer area starts -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p>&copy; @DateTime.Now.Year - All rights reserved.</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/AngeloAbdielMunoz" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/angelomunoz/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/angelm83a" target="_blank"><i class="fa fa-github"></i></a></li>
                    @*<li><a href=""><i class="fa fa-twitter"></i></a></li>*@
                    @*<li><a href=""><i class="fa fa-google-plus"></i></a></li>*@
                    @*<li><a href=""><i class="fa fa-youtube"></i></a></li>*@
                    @*<li><a href=""><i class="fa fa-pinterest"></i></a></li>*@
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer area ends -->