    <!-- Header area starts -->
<header id="home" class="header-area">
    <div class="table">
        <div class="table-cell">
            <!-- Caption starts -->
            <div class="col-md-8 col-md-offset-2 caption">
                <h4>Hello, this is Angelo</h4>
                <h1>A Jr. Software Developer</h1>
                <a class="btn smooth_scroll" href="#contact">Contact Me</a>
                <a class="btn dark smooth_scroll" href="#experience">View Experience</a>
            </div>
            <!-- Caption ends -->

        </div><!-- .table-cell -->
    </div><!-- .table -->
</header>
<!-- Header area ends -->