
@{
    ViewBag.Title = "Portfolio";
}

<!-- Work area starts -->
<section id="experience" class="works section">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2>EXPERIENCE</h2>
                </div>
            </div>
            <p class="col-md-12">I have experience working with various frameworks and programming tools (IDEs). Most of my programming experience is with Microsoft products, 
            which include Visual Studio and MS SQL Management. This website was created in Visual Studio 2019.</p>
        </div>

        <div class="row">

            <!-- Works filter -->
            <ul class="work filters">
                <li class="filter" data-filter="all">All</li>
                <li class="filter" data-filter=".web">Web</li>
                <li class="filter" data-filter=".desktop">Desktop</li>
                <li class="filter" data-filter=".coding">Coding</li>
            </ul>
            <!-- / Works filter -->
        </div>

        <div class="portfolio">
            <div class="row work-items">

                <!-- work item -->
                <div class="col-md-4 col-sm-6 mix web">
                    <div class="item">
                        <a href="~/assets/img/works/project1.png" class="work-popup">
                            <img class="borderImg" src="~/assets/img/works/rsz_1project1.png" alt="">
                            <div class="overlay">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- work item -->
                <div class="col-md-4 col-sm-6 mix web">
                    <div class="item">
                        <a href="~/assets/img/works/project2.png" class="work-popup">
                            <img class="borderImg" src="~/assets/img/works/rsz_project2.png" alt="">
                            <div class="overlay">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- work item -->
                <div class="col-md-4 col-sm-6 mix typography web">
                    <div class="item">
                        <a href="~/assets/img/works/project3.png" class="work-popup">
                            <img class="borderImg" src="~/assets/img/works/rsz_project3.png" alt="">
                            <div class="overlay">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- work item -->
                <div class="col-md-4 col-sm-6 mix desktop">
                    <div class="item">
                        <a href="~/assets/img/works/WinFormExample2.png" class="work-popup">
                            <img class="borderImg" src="~/assets/img/works/rsz_winformexample2.png" alt="">
                            <div class="overlay">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- work item -->
                <div class="col-md-4 col-sm-6 mix app web">
                    <div class="item">
                        <a href="assets/img/works/project5.png" class="work-popup">
                            <img class="borderImg" src="~/assets/img/works/rsz_project5.png" alt="">
                            <div class="overlay">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- work item -->
                <div class="col-md-4 col-sm-6 mix coding">
                    <div class="item">
                        <a href="~/assets/img/works/SQLExperience.png" class="work-popup">
                            <img class="borderImg" src="~/assets/img/works/rsz_sqlexperience.png" alt="">
                            <div class="overlay">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- work item -->
                <div class="col-md-4 col-sm-6 mix web">
                    <div class="item">
                        <a href="assets/img/works/project7.png" class="work-popup">
                            <img class="borderImg" src="~/assets/img/works/rsz_project7.png" alt="">
                            <div class="overlay">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- work item -->
                <div class="col-md-4 col-sm-6 mix app web">
                    <div class="item">
                        <a href="assets/img/works/project8.png" class="work-popup">
                            <img class="borderImg" src="~/assets/img/works/rsz_project8.png" alt="">
                            <div class="overlay">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- work item -->
                <div class="col-md-4 col-sm-6 mix coding">
                    <div class="item">
                        <a href="assets/img/works/project9.png" class="work-popup">
                            <img class="borderImg" src="~/assets/img/works/rsz_project9.png" alt="">
                            <div class="overlay">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- Work area ends -->
