
@{
    ViewBag.Title = "Services";
}

<!-- Service area starts -->
<section id="service" class="service-area section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2>MY SERVICES</h2>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all of the templates and themes.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Service Item -->
            <div class="col-md-4 col-sm-6">
                <div class="single-service">
                    <i class="fa fa-star-o"></i>
                    <h3>Unique design</h3>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all of the themes.</p>
                </div>
            </div>
            <!-- /Service Item -->
            <!-- Service Item -->
            <div class="col-md-4 col-sm-6">
                <div class="single-service">
                    <i class="fa fa-sliders"></i>
                    <h3>Easy to customize</h3>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all of the themes.</p>
                </div>
            </div>
            <!-- /Service Item -->
            <!-- Service Item -->
            <div class="col-md-4 col-sm-6">
                <div class="single-service">
                    <i class="fa fa-bolt"></i>
                    <h3>Fast loading</h3>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all of the themes.</p>
                </div>
            </div>
            <!-- /Service Item -->
            <!-- Service Item -->
            <div class="col-md-4 col-sm-6">
                <div class="single-service">
                    <i class="fa fa-diamond"></i>
                    <h3>High quality</h3>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all of the themes.</p>
                </div>
            </div>
            <!-- /Service Item -->
            <!-- Service Item -->
            <div class="col-md-4 col-sm-6">
                <div class="single-service">
                    <i class="fa fa-support"></i>
                    <h3>24/7 Support</h3>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all of the themes.</p>
                </div>
            </div>
            <!-- /Service Item -->
            <!-- Service Item -->
            <div class="col-md-4 col-sm-6">
                <div class="single-service">
                    <i class="fa fa-eye"></i>
                    <h3>Retina ready</h3>
                    <p>Coderspoint has everything you need to get your new website up and running in no time all of the themes.</p>
                </div>
            </div>
            <!-- /Service Item -->

        </div>

    </div>
</section>
<!-- Service area ends -->
